{% extends "SywFrontMainBundle::base.html.twig" %}
{% trans_default_domain "syw_front_main_main_index" %}

{% block body %}

    {{ include('SywFrontMainBundle:Common:_carousel.html.twig') }}

    <!-- Page Content -->
    <div class="container">

        <div class="row marketing">
            <div class="col-lg-4">
                <a href="{{ url('syw_front_main_stats_index') }}" title="{{ 'View our statistics about Linux, its Distributions, Kernels, Users and Machines'|trans }}"><img class="img-circle"
                     src="{{ 'bundles/sywfrontmain/images/heading.circle.001.jpg' }}"
                     alt="Circle image for Statistics" title="Circle image for Statistics" width="140" height="140"/></a>

                <h2>{{ 'Statistics'|trans }}</h2>

                <p>{{ 'We are providing the most accurate and complete statistics about linux and its distributions, users, kernels and machines in the world wide web.'|trans }} {{ 'This also includes statistics about users per country or city, most used cpus, top uptimes lists and much more.'|trans }}</p>

                <p><a class="btn btn-default" href="{{ url('syw_front_main_stats_index') }}" title="{{ 'View our statistics about Linux, its Distributions, Kernels, Users and Machines'|trans }}" role="button">{{ 'View details'|trans }} &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <a href="{{ url('syw_front_main_stats_index') }}" title="{{ 'View our statistics about Linux, its Distributions, Kernels, Users and Machines'|trans }}"><img class="img-circle"
                     src="{{ 'bundles/sywfrontmain/images/heading.circle.002.jpg' }}"
                     alt="Circle image for Linux users" title="Circle image for Linux users" width="140" height="140"/></a>

                <h2>{{ 'Linux users in the world'|trans }}</h2>

                <p>{{ 'Our guess of how many linux users there are in the world, is probably the closest guess you can get.'|trans }} {{ 'This is measured by the access logs of many great websites, together with our statistics and the statistical numbers of <a href="http://www.worldometers.info/">worldometers.info</a>.'|trans|raw }}</p>

                <p><a class="btn btn-default" href="{{ url('syw_front_main_stats_index') }}" title="{{ 'View our statistics about Linux, its Distributions, Kernels, Users and Machines'|trans }}" role="button">{{ 'View details'|trans }} &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <a href="{{ url('syw_front_api_default_index') }}" title="{{ 'View our RESTful API documentation and learn how to use it.'|trans }}"><img class="img-circle"
                     src="{{ 'bundles/sywfrontmain/images/heading.circle.003.jpg' }}"
                     alt="Circle image for Services and API" title="Circle image for Services and API" width="140" height="140"/></a>

                <h2>{{ 'Service and RESTful API'|trans }}</h2>

                <p>{{ 'All of our generated data and statistics is publicy available either through direct download of the nightly generated XML files or through our cool, RESTful API.'|trans }}</p>

                <p><a class="btn btn-default" href="{{ url('syw_front_api_default_index') }}" title="{{ 'View our RESTful API documentation and learn how to use it.'|trans }}" role="button">{{ 'View details'|trans }} &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <div class="row marketing">
            <div class="col-lg-12">

                <h1>{{ 'The Linux Counter Project'|trans }}</h1>
                <h4>{{ 'Statistics around Linux, the distributions, kernels, uptimes, load averages, the users and much more'|trans }}</h4>
                <h5>{{ 'we would be very, very glad about EVERY feature request, reported issue or bug and also about every compliment or praise you want to tell us!'|trans }}</h5>
            </div>
        </div>
    <p> &nbsp; </p>
    <p> &nbsp; </p>
    <p> &nbsp; </p>
</div>

{% endblock %}
