{% extends "SywFrontMainBundle::base.html.twig" %}
{% trans_default_domain "syw_front_main_main_index" %}

{% block body %}

    {{ include('SywFrontMainBundle:Common:_carousel.html.twig') }}

    <!-- Page Content -->
    <div class="container">

        <div class="row marketing">
            <div class="col-lg-4">
                <a href="{{ url('syw_front_main_stats_index') }}"
                   title="{{ 'View our statistics about Linux, its Distributions, Kernels, Users and Machines'|trans }}"><img
                            class="img-circle"
                            src="{{ 'bundles/sywfrontmain/images/heading.circle.001.jpg' }}"
                            alt="Circle image for Statistics" title="Circle image for Statistics" width="140"
                            height="140"/></a>

                <h2>{{ 'Statistics'|trans }}</h2>

                <h3>{{ 'We are providing the most accurate and complete statistics for linux and its distributions, users, kernels and machines in the world wide web.'|trans }} {{ 'This also includes usage statistics, network statistics, user statistics per country or city, most used cpus, top linux uptimes lists and much more.'|trans }}</h3>

                <p><a class="btn btn-default" href="{{ url('syw_front_main_stats_index') }}"
                      title="{{ 'View our statistics about Linux, its Distributions, Kernels, Users and Machines'|trans }}"
                      role="button">{{ 'View details'|trans }} &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <a href="{{ url('syw_front_main_stats_index') }}"
                   title="{{ 'View our statistics about Linux, its Distributions, Kernels, Users and Machines'|trans }}"><img
                            class="img-circle"
                            src="{{ 'bundles/sywfrontmain/images/heading.circle.002.jpg' }}"
                            alt="Circle image for Linux users" title="Circle image for Linux users" width="140"
                            height="140"/></a>

                <h2>{{ 'Linux users in the world'|trans }}</h2>

                <h3>{{ 'Our guess of how many linux users there are in the world, is probably the closest guess you can get.'|trans }} {{ 'This is measured by the access logs of many great websites, together with our statistics and the statistical numbers of worldometers.info.'|trans|raw }}</h3>

                <p><a class="btn btn-default" href="{{ url('syw_front_main_stats_index') }}"
                      title="{{ 'View our statistics for Linux, its Distributions, Kernels, Users and Machines'|trans }}"
                      role="button">{{ 'View details'|trans }} &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <a href="http://api.linuxcounter.net"
                   title="{{ 'View our RESTful API documentation and learn how to use it.'|trans }}"><img
                            class="img-circle"
                            src="{{ 'bundles/sywfrontmain/images/heading.circle.003.jpg' }}"
                            alt="Circle image for Services and API" title="Circle image for Services and API"
                            width="140" height="140"/></a>

                <h2>{{ 'Service and RESTful API'|trans }}</h2>

                <h3>{{ 'All of our generated data and statistics is publicy available through our cool, RESTful API. After registering an account, you will get an ApiKey automatically assigned to your account. Get your ApiKey in your user profile. The Restful API is completly free to use, but a small credits for the Linux Counter Project would be greatly appreciated.'|trans }}</h3>

                <p><a class="btn btn-default" href="http://api.linuxcounter.net"
                      title="{{ 'View our RESTful API documentation and learn how to use it.'|trans }}"
                      role="button">{{ 'View details'|trans }} &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <div class="row marketing">
            <div class="col-lg-12">

                <h1>{{ 'The Linux Counter Project'|trans }}</h1>
                <h2>{{ 'Distributions statistics, most used distributions, most used CPUs, greatest uptimes, Linux user statistics per country and city, Linux kernel statistics and many, many more...'|trans }}</h2>
                <h3>{{ 'We would be very, very glad about EVERY feature request, reported issue or bug and also about every compliment or praise you want to tell us! Please use the Github Issuetracker for this. The link can be found in the footer links below.'|trans }}</h3>
            </div>
        </div>
        <p> &nbsp; </p>

        <p> &nbsp; </p>

        <p> &nbsp; </p>
    </div>

{% endblock %}
