{% extends "SywFrontMainBundle::base.html.twig" %}
{% trans_default_domain "syw_front_main_main_sponsor" %}

{% block body %}

    <!-- Page Content -->
    <div class="row">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'The Linux Counter Project is fully sponsored by...'|trans }}</h3>
                    </div>
                    <div class="panel-body">

                        <div class="box1">

                            <div style="float:right;margin-left:10px;">
                                <a href="https://www.first-colo.net/" target="_blank"><img src="{{ '/bundles/sywfrontmain/images/firstcolo.jpg' }}" alt="" style="" border="0"></a>
                            </div>

                            <h2>FIRSTCOLO - One step ahead</h2>
                            <p style="margin-top: 20px;">{{ 'The Linux Counter Project is fully sponsored by an amazing, german company.'|trans }} {{ 'This company is called <a href="https://www.first-colo.net/" target="_blank">First Colo</a> and it is a server and housing provider, sitting in Munich, Germany.'|trans|raw }}</p>
                            <p>{{ '<a href="https://www.first-colo.net/" target="_blank">First Colo</a> operates as an IT infrastructure supplier high availability data processing center with the core specialties in rack housing, server hosting, managed services, and DDoS-protection, at German and European locations.'|trans|raw }} {{ 'Our company has been a successful part of this market for over ten years and has grown rapidly during this period. Our strengths include high flexibility, a high level of customer focus and the consistent use of very modern and efficient technologies.'|trans }}</p>
                            <p>{{ 'The company offers colocation, connectivity, and management services for the middle sized and larger customers.'|trans }} {{ 'With high quality demands, know-how and manufacturer independent consulting, <a href="https://www.first-colo.net/" target="_blank">First Colo</a> has already persuaded multiple industries, especially those with high data traffic volume and above average demands for service quality and IT security.'|trans|raw }} {{ 'In order to deal with the constantly increasing administrative requirements and expand the range of products correspondingly, the company was renamed as First Colo GmbH in late 2007. The data centre in the Accent Office Center was then opened at the beginning of 2011, which marked the beginning of a new corporate era for us.'|trans }} </p>

                            <p> &nbsp; </p>
                            <p>{{ 'The Linux Counter Project has an own, dedicated root server with the following specs:'|trans }}</p>
                            <p> &nbsp; </p>
                            <p>
                                <ul>
                                    <li> <b>CPU:</b> Intel(R) Xeon(R) CPU E5-1650 v2 @ 3.50GHz, 6 Cores with Hyperthreading</li>
                                    <li> <b>RAM:</b> 48 GB of EEC Ram</li>
                                    <li> <b>HDD:</b> 2 x 250GB 6Gb/s SSD (Software-Raid 1)</li>
                                    <li> <b>OS:</b> Ubuntu Server 14.04 LTS</li>
                                </ul>
                            </p>

                            <p> &nbsp; </p>
                            <div style="margin-top: 30px;text-align:center;">
                                <a href="https://www.first-colo.net/" target="_blank"><img src="{{ '/bundles/sywfrontmain/images/colo2.jpg' }}" style="" border="0"></a> &nbsp;
                                <a href="https://www.first-colo.net/" target="_blank"><img src="{{ '/bundles/sywfrontmain/images/colo3.jpg' }}" style="" border="0"></a>
                            </div>
                        </div>



                        <div class="box2" style="margin-top:100px;">

                            <div style="float:right;margin-left:10px;">
                                <a href="https://www.phplist.com/" target="_blank"><img src="{{ '/bundles/sywfrontmain/images/phplist.jpg' }}" alt="" style="" border="0"></a>
                            </div>

                            <h2>phpList - Deliver your message with the power of Open Source.</h2>
                            <p style="margin-top: 20px;">phpList is Open Source software for sending email newsletters, marketing campaigns and announcements: you can send to millions or just to a few hundred. For more information please see our features page.</p>

                            <p>phpList Ltd, the company behind phpList.com, are the primary developers of phpList. The phpList Ltd founder and CEO, Michiel Dethmers, has been the lead developer on the project since its inception in 2000, when it was designed for use by the Royal National Theatre.</p>

                            <p>Today, phpList has a large community of users, developers, documenters and translators. phpList Ltd has gone from strength to strength, offering comprehensive services from phpList.com, including expert deliverability, and supporting a the wider phpList community through investment in phpList.org.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
