{% trans_default_domain "footer" %}
<ul class="list-inline intro-social-buttons">
    <li>
        <span class="github btn btn-default btn-lg" title="{{ 'See the source code of this page...'|trans }}"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></span>
    </li>
    <li>
        <span class="twitter btn btn-default btn-lg" title="{{ 'Follow us on twitter...'|trans }}"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></span>
    </li>
    <li>
        <span class="facebook btn btn-default btn-lg" title="{{ 'Follow us and like us on Facebook...'|trans }}"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></span>
    </li>
    <li>
        <span class="googleplus btn btn-default btn-lg" title="{{ 'Follow us on Google+...'|trans }}"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></span>
    </li>
    <li>
        <span class="googleplus btn btn-default btn-lg" title="{{ 'See here for the automated builds...'|trans }}"><i class="fa fa-travis fa-fw"></i> <span class="network-name">Travis.CI</span></span>
    </li>
</ul>
