<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="en">
<head>
    {% trans_default_domain "general" %}
    {{ include('SywFrontMainBundle:Common:_meta.html.twig') }}

    {% block stylesheets %}
        {{ include('SywFrontMainBundle:Common:_stylesheets.html.twig') }}
    {% endblock %}
    {% javascripts filter='uglifyjs2'
    'bundles/sywfrontmain/js/jquery-2.1.3.min.js'
    'bundles/sywfrontmain/js/jquery-ui.min.js'
    'assets/bootstrap-switch.min.js'
    'assets/EmailObfuscator.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-41913985-1', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
    </script>
</head>
<body{% if app.request.attributes.get('_route') == 'syw_front_main_main_index' %} id="startseite"{% endif %}>
<div id="main" class="container">
    <div id="loadingDiv">
        <img id="loadingImg" src="{{ '/bundles/sywfrontmain/images/loading.gif' }}" alt="{{ 'Loading...'|trans }}" title="{{ 'Loading...'|trans }}"/><br/>
        <strong>{{ 'Loading...'|trans }}</strong>
    </div>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ include('SywFrontMainBundle:Common:_translate_modal.html.twig') }}
    {% endif %}

    {{ render(controller(
        'RedmonsterAnnouncementBundle:Announcement:currentAnnouncement'
    )) }}

    {{ include('SywFrontMainBundle:Common:_navbar.html.twig') }}

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% if app.request.attributes.get('_route') != 'fos_user_resetting_check_email' %}
    <div id="lico-top" class="row container page">
        <!-- LiCo Top NEU -->
        <ins class="adsbygoogle"
             data-ad-client="ca-pub-9187097149837683"
             data-ad-slot="3199781051"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% endif %}
    {% block body %}
        <div class="row">
            {% if app.session.get('confirmation') is defined and app.session.get('confirmation') is not null %}
                <div id="confirmdialog">
                    <p>
                        Are you sure to delete the {{ app.session.get('confirmation').type }} with name {{ app.session.get('confirmation').hostname }} and ID {{ app.session.get('confirmation').id }}?
                    </p>
                    <form method="post" action="{{ url(app.session.get('confirmation').yes,{'id':app.session.get('confirmation').id }) }}">
                        <button type="submit" class="btn red">confirm and delete</button>
                        <a href="{{ path(app.session.get('confirmation').no) }}" class="btn blue">Cancel</a>
                    </form>
                </div>
                {{ app.session.set('confirmation',null) }}
            {% endif  %}
            {% block fos_user_content %}
                {% trans_default_domain 'FOSUserBundle' %}
            {% endblock %}
        </div>
    {% endblock %}

    {{ include('SywFrontMainBundle:Common:_footer.html.twig') }}

    {% block javascripts %}
        {{ include('SywFrontMainBundle:Common:_javascripts.html.twig') }}
    {% endblock %}
</div>
</body>
</html>
