<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="en">
<head>
    {% trans_default_domain "general" %}
    {{ include('SywFrontMainBundle:Common:_meta.html.twig') }}

    {% block stylesheets %}
        {{ include('SywFrontMainBundle:Common:_stylesheets.html.twig') }}
    {% endblock %}
    {% javascripts
    'bundles/sywfrontmain/js/jquery-1.11.2.min.js'
    'bundles/sywfrontmain/js/jquery-ui.min.js'
    'assets/bootstrap-switch.min.js'
    'assets/EmailObfuscator.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<div id="main" class="container">

    {{ include('SywFrontMainBundle:Common:_errornavbar.html.twig') }}
    {% block body %}
    {% endblock %}

    {{ include('SywFrontMainBundle:Common:_errorfooter.html.twig') }}

    {% block javascripts %}
        {{ include('SywFrontMainBundle:Common:_javascripts.html.twig') }}
    {% endblock %}
</div>
</body>
</html>
